// RR69SPORT WINS!!!!!!!!!!
html::before {
  content: '';
  display: block;
  width: 100%;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--very-pale-blue);
  border-radius: 0 0 15px 15px;
}

body {
  padding: 20px;
  position: relative;
  font-size: 14px;
  font-family: var(--main-font);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
