.header {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  &__texts {
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--soft-blue);

    @media screen and (min-width: 768px) {
      border-bottom: none;
      margin: 0;
      padding: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 41px;
    color: var(--title-color);
    @media screen and (min-width: 768px) {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 80% 20%;
    max-width: 80%;
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: 85% 15%;
  }
}
