:root {
  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(
    90deg,
    hsl(37, 97%, 70%) 0%,
    hsl(329, 70%, 58%) 100%
  );
  --youtube: hsl(348, 97%, 39%);

  // DARK THEME
  --bg-color: hsl(230, 17%, 14%);
  --bg-color-head: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --card-bg-hover: hsl(228, 26%, 27%);
  --soft-blue: hsl(228, 34%, 66%);
  --toggle-bg: linear-gradient(
    90deg,
    hsl(210, 78%, 56%) 0%,
    hsl(146, 68%, 55%) 100%
  );
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(228, 34%, 66%);

  // LIGHT THEME
  --bg-color: hsl(0, 0%, 100%);
  --bg-color-head: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --card-bg-hover: hsl(232, 33%, 91%);
  --soft-blue: hsl(228, 12%, 44%);
  --toggle-bg: hsl(230, 22%, 74%);
  --toggle-bg-hover: linear-gradient(
    90deg,
    hsl(210, 78%, 56%) 0%,
    hsl(146, 68%, 55%) 100%
  );
  --title-color: hsl(228, 12%, 44%);
  --text-color: hsl(230, 17%, 14%);

  // fonts
  --main-font: 'Inter', sans-serif;
}
