:root {
  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(
    90deg,
    hsl(37, 97%, 70%) 0%,
    hsl(329, 70%, 58%) 100%
  );
  --youtube: hsl(348, 97%, 39%);

  // Dark
  --Very-Dark-Blue: hsl(230, 17%, 14%);
  --Very-Dark-Blue: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
  --Desaturated-Blue: hsl(228, 34%, 66%);
  --White: hsl(0, 0%, 100%);
  --toggle-color-dark: linear-gradient(
    90deg,
    hsl(210, 78%, 56%) 0%,
    hsl(146, 68%, 55%) 100%
  );

  // Light
  --very-pale-blue: hsl(225, 100%, 98%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-blue: hsl(227, 47%, 96%);
  --dark-grayish-blue: hsl(228, 12%, 44%);
  --very-dark-blue: hsl(230, 17%, 14%);
  --toggle-color-light: hsl(230, 22%, 74%);

  // fonts
  --main-font: 'Inter', sans-serif;
}
